<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bat" class="kcp.spring.beans.Bat" />
	<bean id="ckt" class="kcp.spring.beans.Crickter">
		<!-- <property name="beanid" value="bat1" /> -->
		<property name="beanid">
			<idref bean="bat" />
		</property>


	</bean>
</beans>
